@import './reset.css';
@import './variables.css';

body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: system-ui, sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
    font-family: Georgia, Times New Roman, Times, serif;
    font-weight: bold;
}